@font-face {
  font-family: Retroica;
  src: url(../../matteoena/fonts/Retroica.woff2) format('woff2'),
  url(../../matteoena/fonts/Retroica.ttf) format('ttf');
}

html,
body {
  font-family: Retroica, Helvetica, Arial, sans-serif;
  background: url(../../matteoena/assets/home_background_2.webp) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

header {
  width: 100%;

  nav {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      list-style: none;
      font-size: 2rem;
      padding: 0;

      li {
        padding: 1rem;
      }
    }
  }
}

.my-name {
  margin: 4rem 0;
}

.mail-to {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &_icon {
    width: 5rem;
    height: 5rem;
    background: url(../../matteoena/assets/email_icon.webp) no-repeat;
    background-size: contain;
  }
}

// _decimal.scss | MIT License | gist.github.com/terkel/4373420
// Round a number to specified digits.
//
// @param  {Number} $number A number to round
// @param  {Number} [$digits:0] Digits to output
// @param  {String} [$mode:round] (round|ceil|floor) How to round a number
// @return {Number} A rounded number
// @example
//     decimal-round(0.333)    => 0
//     decimal-round(0.333, 1) => 0.3
//     decimal-round(0.333, 2) => 0.33
//     decimal-round(0.666)    => 1
//     decimal-round(0.666, 1) => 0.7
//     decimal-round(0.666, 2) => 0.67
//
@function decimal-round ($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) !=number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) !=number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @for $i from 1 through $digits {
    $n: $n * 10;
  }
  @if $mode==round {
    @return calc(round($number * $n) / $n);
  } @else if $mode==ceil {
    @return calc(ceil($number * $n) / $n);
  } @else if $mode==floor {
    @return calc(floor($number * $n) / $n);
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

// Ceil a number to specified digits.
//
// @param  {Number} $number A number to round
// @param  {Number} [$digits:0] Digits to output
// @return {Number} A ceiled number
// @example
//     decimal-ceil(0.333)    => 1
//     decimal-ceil(0.333, 1) => 0.4
//     decimal-ceil(0.333, 2) => 0.34
//     decimal-ceil(0.666)    => 1
//     decimal-ceil(0.666, 1) => 0.7
//     decimal-ceil(0.666, 2) => 0.67
//
@function decimal-ceil ($number, $digits: 0) {
  @return decimal-round($number, $digits, ceil);
}

// Floor a number to specified digits.
//
// @param  {Number} $number A number to round
// @param  {Number} [$digits:0] Digits to output
// @return {Number} A floored number
// @example
//     decimal-floor(0.333)    => 0
//     decimal-floor(0.333, 1) => 0.3
//     decimal-floor(0.333, 2) => 0.33
//     decimal-floor(0.666)    => 0
//     decimal-floor(0.666, 1) => 0.6
//     decimal-floor(0.666, 2) => 0.66
//
@function decimal-floor ($number, $digits: 0) {
  @return decimal-round($number, $digits, floor);
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

@function v($x, $y) {
  $start-x: -100px;
  $end-x: 2000px;
  $steps-x: 50;
  $steps-x-value: calc(($start-x - $end-x) / $steps-x) * -1;

  $start-y: -50px;
  $end-y: 1300px;
  $steps-y: 50;
  $steps-y-value: calc(($start-y - $end-y) / $steps-y) * -1;

  $x-list: ();
  $y-list: ();

  $nextVal: $start-x;
  @while $nextVal < $end-x {
    $x-list: append($x-list, $nextVal);
    $nextVal: $nextVal + $steps-x-value;
  }

  $nextVal: $start-y;
  @while $nextVal < $end-y {
    $y-list: append($y-list, $nextVal);
    $nextVal: $nextVal + $steps-y-value;
  }

  @return nth($x-list, $x),
  nth($y-list, $y);
}

@function randomVList() {
  $x-maxSteps: 50;
  $y-maxSteps: 50;
  $x: random($x-maxSteps - 10); //Startvalue
  $y: random($y-maxSteps - 10); //Startvalue
  $list: ();
  $list: append($list, $x $y);
  $random-x-steps: random($x-maxSteps - 5) + 5;
  @while $x < $random-x-steps {
    $x: $x + 1;
    @if $y==$y-maxSteps {
      $y: $y + (random(2) - 2); //y + [-1|0]
    } @else if $y==1 {
      $y: $y + (random(2) - 1); //y + [0|1]
    } @else {
      $y: $y + (random(3) - 2); //y + [-1|0|1]
    }
    $list: append($list, $x $y);
  }
  @return $list;
}

@mixin animation($name, $tupleList) {
  @keyframes #{$name} {
    $steps: length($tupleList);
    //@debug "Steps: " + $steps;
    @if $steps > 1 {
      @for $i from 0 to $steps {
        // <start> to <end> -> not include <end>
        $percentage: decimal-round($i * calc(100/($steps - 1)), 2); //calc percentage with 2 decimals
        #{$percentage}% {
          $tuple: nth($tupleList, $i+1);
          transform: translate(v(nth($tuple, 1), nth($tuple, 2)));
        }
      }
      0% {
        opacity: 0
      }
      15% {
        opacity: 1
      }
      85% {
        opacity: 1
      }
      100% {
        opacity: 0
      }
    }
  }
}

//Create random animations
@for $i from 1 to 20 {
  $randomList: randomVList();
  @while length($randomList) < 3 {
    $randomList: randomVList();
  }
  @include animation("animation" + $i, $randomList);
}

.particle {
  position: absolute;
  opacity: 0;
  overflow: visible;
  background-size: contain; //auto|length|cover|contain|initial|inherit
  background-repeat: no-repeat;
}

@for $i from 1 to 20 {
  .elem#{$i} {
    $position: v(random(10), random(10));
    left: nth($position, 1);
    top: nth($position, 2);
    //$duration: 12+ random(7);
    //for demo:
    $duration: 15 + random(5);
    animation: animation#{$i} linear #{$duration}s infinite;
    $size: 80px + random(20);
    height: $size;
    width: $size;
    $imgList: url(../../matteoena/assets/html_logo.webp),
    url(../../matteoena/assets/css_logo.webp),
    url(../../matteoena/assets/js_logo.webp),
    url(../../matteoena/assets/vuejs_logo.webp),
    url(../../matteoena/assets/svelte_logo.webp),
    url(../../matteoena/assets/react_logo.webp),
    url(../../matteoena/assets/sass_logo.webp),
    url(../../matteoena/assets/jquery_logo.webp),
    url(../../matteoena/assets/web_performance_logo.webp),
    url(../../matteoena/assets/selenium_logo.webp),
    url(../../matteoena/assets/github_logo.webp),
    url(../../matteoena/assets/azure_logo.webp),
    url(../../matteoena/assets/npm_logo.webp),
    url(../../matteoena/assets/jira_logo.webp),
    url(../../matteoena/assets/java_logo.webp),
    url(../../matteoena/assets/xml_logo.webp),
    url(../../matteoena/assets/json_logo.webp),
    url(../../matteoena/assets/webstorm_logo.webp),
    url(../../matteoena/assets/devtools_logo.webp),
    url(../../matteoena/assets/aem_logo.webp);
    background-image: nth($imgList, ($i % 20) + 1);
  }
}

@for $i from 1 through 20 {
  .anim-delay#{$i} {
    //$animationDelay: random(20);
    //for demo:
    $animationDelay: random(5);
    animation-delay: #{$animationDelay}s;
  }
}