@font-face {
    font-family: "Paytone One";
    font-style: normal;
    font-weight: 400;
    src: local('Paytone One Regular'), local('PaytoneOne-Regular'),
    url('/public/fonts/paytone-one-v13-latin-regular-webfont.woff2') format('woff2'),
    url('/public/fonts/paytone-one-v13-latin-regular-webfont.woff') format('woff');
}
